[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_23F00111E484CA9507ED8F61C12000F5-if00

[mcu nhk]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_32323232361953C1-if00
#serial: /dev/serial/by-id/usb-Klipper_rp2040_3232323236190F68-if00
serial: /dev/serial/by-id/usb-Klipper_rp2040_3232323236198C38-if00

[virtual_sdcard]
path: /home/jgreco/printer_data/gcodes

[exclude_object]

[display_status]

[force_move]
enable_force_move: TRUE

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 30
max_z_accel: 300

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 250
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.800                # Marlin has 580; changed to 600, 700, 800
diag_pin: P1.29                  # StallGuard Detect Pin (end-stop detection)
driver_SGTHRS: 150                # StallGuard Threshold (sesitivity)
#interpolate: false                # TMC2209 will not utilize internal micro-stepping of 256 (default = True)
#sense_resistor: 0.110
#stealthchop_threshold: 999999

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: -4
position_max: 220
position_min: -4
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.800                # Marlin has 650; changed to 700, 800
diag_pin: P1.28                   # StallGuard Detect Pin (end-stop detection)
driver_SGTHRS: 150                # StallGaurd Threshold (sensitivity)
#interpolate: false               # TMC2209 will not utilize internal micro-stepping of 256 (default = True)
#sense_resistor: 0.110
#stealthchop_threshold: 999999

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 32 #16
rotation_distance: 8
#endstop_pin: probe:z_virtual_endstop
endstop_pin: tmc2209_stepper_z:virtual_endstop
position_endstop: 225
position_max: 225
position_min: -5
homing_speed: 50

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.50                 # Marlin has 580; changed to
diag_pin: P1.27                   # StallGuard Detect Pin (end-stop detection)
driver_SGTHRS: 50                 # StallGaurd Threshold (sensitivity)
interpolate: false               # TMC2209 will not utilize internal micro-stepping of 256 (default = True)
sense_resistor: 0.110
#stealthchop_threshold: 999999


[probe]
#pin: P1.25
#pin: nhk:gpio10
pin: ^nhk:gpio13
#x_offset: 24
x_offset: 0
y_offset: 5
z_offset: 0.7 #Put Z-offset from 1st layer calibration baby-steps here.
speed: 3 #5
samples: 5 #Sampling, primarily for bed mesh. 3 is fine for normal PINDA probes.
samples_tolerance: 0.25
samples_result: average
sample_retract_dist: 2

[bed_mesh]
speed: 400
horizontal_move_z: 2
#mesh_min: 35, 6
#mesh_max: 240,198
#probe_count: 7,7
mesh_min: 21, 11.5
mesh_max: 236, 194.0
probe_count: 3,3
zero_reference_position = 125,105
#relative_reference_index: 25     #Generate mesh relative to center post for nylock.
mesh_pps: 0,0                     #Don't generate interperlated points so our mesh is compatible with nylock calculators like https://pcboy.github.io/g81_relative/

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#control: pid
#pid_Kp: 126.13
#pid_Ki: 4.3
#pid_Kd: 924.76
min_temp: 0
max_temp: 130

#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
pullup_resistor: 2200
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
sensor_type: PT1000
min_temp: 0
max_temp:280
control: pid
pid_Kp: 126.13
pid_Ki: 4.3
pid_Kd: 924.76
nozzle_diameter: 0.4
filament_diameter: 1.75

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.4        #recommend setting it below 0.7A.


#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: nhk:gpio6
tachometer_pin: nhk:gpio17
tachometer_ppr: 2

## HEF
[heater_fan hotend_fan]
pin: nhk:gpio5
tachometer_pin: nhk:gpio16
tachometer_ppr: 2

#####################################################################
#   Lights
#####################################################################
##Stealthburner Headlights
[neopixel sb_leds]
pin: nhk:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

## PCB Activity Light
[output_pin act_led]
pin: !nhk:gpio8


#Home in lower, lefthand corner.
[homing_override]
gcode:
  G1 Z3
  G28 X0 Y200
  G1 X1 Y0 F5000
  G28 Z0
axes: Z
set_position_x: 0
set_position_y: 0
set_position_z: 0

[gcode_macro G80]
gcode:
# G28 #Avoid double homing if using PrusaSlicer or other default gcode.
  BED_MESH_CALIBRATE
  G1 X0 Y0 Z0.4 F4000

[gcode_macro G81]
gcode:
  BED_MESH_OUTPUT

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.109085, -0.135085, -0.104085
#*# 	  -0.033585, 0.003665, 0.070415
#*# 	  -0.191585, -0.093835, -0.145085
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 21.0
#*# max_x = 236.0
#*# min_y = 11.5
#*# max_y = 194.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.877
#*# pid_ki = 1.050
#*# pid_kd = 690.967
